:root {
    --primary-color:#FFF6E9;
    --dark-color:#40A2E3;
    --button-color:#0D9276;
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color) ;
}

.flex-row {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap:10px;
}

.gap-20 {
    gap: 20px;
}

.bg-white {
    background-color: white;
}
.nav-links a {
    background-color: var(--dark-color);
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
}

.card {
    background-color: white;
    height: 200px;
    width: 200px;
    border: 1px solid lightgray;
    padding-top: 30px;
    text-align: center;
    border-radius: 10px;
}

.card img {
    width: 200px;
    height: 125px;
}

.card button {
    width: 200px;
    color:white;
    background-color:var(--button-color);
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bold;
}